.video{
    /* width: 40vw; */
    height: 70vh;
    flex: 1;
    padding: 37px;
    border: none;
}
.v-main{
    display: flex;
}
.v-right{
    /* background-color: blue; */
    padding: 37px;
/* vertical-align: middle; */
display: flex;
justify-content: center;
flex-direction: column;
    flex: 1;
}
.v-h1{
    margin-bottom: 27px;
}