.new-nav{
    /* background-color: red; */
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  background-color: #1b180f;
color: white;
position: fixed;
top: 0px;
right: 0px;
z-index: 3;
}
.t-color{
    color: black;
}
.new-nav h2,.new-nav button{
margin-left: 30px;
margin-right: 30px;
}
.new-nav button{
    padding: 10px;
    font-size: 1.0rem;
    cursor: pointer;
    color: teal;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    background-color: transparent;
    border: 1px solid teal;
    border-radius:7px ;
}
.new-nav button:hover{
    transition: all 0.5s linear;
    color: white;
    background-color: teal;
}
.color-teal{
    color: teal;
}
.compo-down{
    /* background-color: yellow; */
    display: flex;
    height: calc(100vh - 50px);
    margin-top: 50px;
}
.left-content{
    font-size: 1.3rem;
    margin-top: 7px;
    height: auto;
    /* padding: 10px 30px; */
    width: 70%;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}
.left-content:hover{
    background-color: rgb(226, 193, 193);
}
.left-nav{
    background-color: rgb(173, 173, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top:50px ; */
    position: sticky;
    left: 0px;
   z-index: 2;
    flex: 1;
    transition: all 0.4s ease;
}
.new-left-nav{
    background-color: rgb(173, 173, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top:50px ; */
    position: relative;
    left: -272px;
    transition: all 0.4s ease;

   z-index: 2;
    flex: 1;  
}
.right-nav98{
    flex: 4;
    position: relative;
    left: 0px;
    transition: all 0.4s ease;
    margin: 0;
    display: flex;
    justify-content: center;

}
.new-right-nav98{
    margin: 0;

    transition: all 0.4s ease;

    flex: 4;
    position: relative;
    left: -272px;
    display: flex;
    justify-content: flex-end;

}


.new-nav-drop{
    background: none;
    border: none;
    height : auto;
}
.left-drop{
    margin-left: 50px;
    height: auto;
}
.cross-img{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.table-nav{
    /* background-color: blue; */
    width: 70vw;
    transition: all 0.4s ease;

}
.table-search{
    width: 50%!important;
    margin: 20px 100px;
    border: 1px solid grey;
}
.main-table{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 7px;
    /* width: 100%; */
    width: 100vw;
    margin-right: 30px;
}
.top-col-table{
    background-color: #322d45;
    color: white;
    padding: 20px 7px;
    /* width: 100%; */
 
    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
    th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td,th{
    padding: 20px;
}
.space{
border: none!important;
}
.table-drop{
    background-color: none;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}
.create-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.create-con{
    /* display: flex; */
    /* flex-direction: column; 
}*/
.t-white{
color: rgb(0, 0, 0);
text-align: center;
margin-bottom: 60px;
}
.btn-table-admin{
display: flex;
justify-content: center;
align-items: center;
}
.btn-table-admin button{
    padding: 7px 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
}