.main-Placement{
    /* background-color: red; */
    min-height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;

}

.my-pic{
    width: 150px;
    height: 150px;
    border-radius: 360px;
    margin-bottom: 20px;
    /* align-content: ce; */

}

.con-p{
    background-color:  pink;
    
   min-width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin: 20px 0px;
}
.con-p:hover{
    cursor: pointer;
    transition: all .1s ease;
transform: scale(1.04);
}

.center-p{
    text-align: center;
    margin: 20px 0px;
}

.center-p a{
    color: blue;
    font-weight: bolder;
    cursor: pointer;
    /* text-decoration: underline; */
}

.center-spinner{
    text-align: center;
    min-height: 50vh;
    margin: auto;
    width: 100%;
    /* position: relative; */
    /* top: 20px; */
}