

section{
    padding-top: 48px;

}
section{
    width: 80%;
    margin: 40px auto;
    font-family: 'poppins', sans-serif;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    left: 0;
    bottom: 0;

}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-details .left{
    width: 45%;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit:cover;
    border-radius: 12px;
}
.about .about-details .right{
    width: 55%;
}
section .topic{
    color: var(--black-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;

}
.about-details .right p{
    text-align: justify;
    color: var(--black-color);

}
section .button{
    margin:16px 0;
}
section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}
section .button button:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color); 
}

/* My Skills section */
.skills{
    background: #f0f8ff;
}
.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
.skills-details .text{
    width: 50%;

}
.skills-details p{
    color: var(--black-color);
    text-align: justify;
    font-size: 20px;
}
.skills-details .experience{
    display: flex;
    align-items: center;
    margin:0 10px;
}
.skills-details .experience .num{
    color: var(--black-color);
    font-size: 80px;

}
.skills-details .experience .exp{
    color: var(--black-color);
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 30px;
    color: var(--primary-color);
}
.skills-details .boxes .per{
    font-size: 20px;
    color: var(--primary-color);
}
/* Project Section */
.mediastar{
    text-align: center;
    padding:5px;
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
    border-radius:1rem ;
    display: block;
}




.links-primary{
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px ;
    color: white;
    border-radius: 2rem;
    margin: 5px 5px ;
}

.links-secondary{
    text-decoration: none;
    background-color: white;
    color: var(--primary-color);
    padding: 10px;
    border:1px solid black;
    border-radius: 2rem;
    margin: 5px 5px;
    
}
.media-star .links-primary :hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);

}

.form input{
    font-size: 20px;
    color: peru;
    padding: 5px;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    
}
.form .button{
    margin: 14px 0px;
}

.form input:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* My services CSS */
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .boxes .box{
    margin: 20px 0;
    width:calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: palevioletred;
    color: var(--white-color);
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: palevioletred;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: var(--white-color);
    margin: o auto 10px auto;
}
.boxes .box:hover .icon{
    background: var(--white-color);
    color: var(--primary-color);
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: var(--white-color);
    transition: all 0.4s ease;
}
/* contact me CSS */
.contact{
    background: #eaeff3;
    /* margin: auto; */
    /* padding: 35px; */
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 100%;
    text-align: center;
    margin: auto;
}
