.search-section input.search-field {
    /*padding: 1em ;*/
    border-radius: 20px;
    border: 1px solid rgba(67, 19, 19, 0);
    font-weight: 400;
}
input[type="search"] {
    -webkit-appearance: none;
}
input[type="search"] {
    box-sizing: border-box;
}